<div id="logoarea">
        <hgroup>
            <!-- <a href="index.html" id="logo" img src="../img/logo.png" alt="logo Ponto Digital"> -->
        </hgroup>
    </div>

    <nav>
        <ul>
            <li><a href="index.html" id="menunavegacao"><img src="../img/logo.png" alt="logo Ponto Digital"></a></li>
            <li><a class="hover" href="index.html#quemsomos">QUEM SOMOS</a></li>
            <li><a class="hover" href="index.html#planos">PLANOS</a>
            <li><a class="hover" href="index.html#depoimentos">DEPOIMENTOS</a></li>
            <li><a class="hover" href="index.html#cadastro">CADASTRE-SE</a></li>
            <li><a class="hover" href="index.html#faleconosco">FALE CONOSCO</a></li>
        </ul>
</nav>