<!DOCTYPE html>
<html lang="pt-br">
    
<header>
    <meta charset="UTF-8">
    <title>Ponto Digital</title>
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
</header>

<footer>
    <div id="contatos">
        <ul>
            <li class="speakforme">Tel: (11) 9191-9191</li>
            <li class="speakforme">E-mail: contato@pontodigital.com.br</li>
            <li><a href="index.hmtl Ponto Digital.html" id="logar">Login</a></li>
        </ul>
    </div>
</footer>
@RenderBody()