<body>
    <header>
        <div id="contatos">
            <ul>
                <li class="speakforme">Tel: (11) 9191-9191</li>
                <li class="speakforme">E-mail: contato@pontodigital.com.br</li>
                <li><a href="index.hmtl Ponto Digital.html" id="logar">Login</a></li>
            </ul>
        </div>
    </header>
    <header>
        <nav>
            <ul>
                <li><a href="index.html" id="logo"><img src="../img/logo.png" alt="logo Ponto Digital"></a></li>
                <li><a class="hover" href="index.html#quemsomos">QUEM SOMOS</a></li>
                <li><a class="hover" href="index.html#planos">PLANOS</a>
                <li><a class="hover" href="index.html#depoimentos">DEPOIMENTOS</a></li>
                <li><a class="hover" href="index.html#faleconosco">FALE CONOSCO</a></li>
                <li><a class="hover" href="index.html#cadastro">CADASTRE-SE</a></li>
            </ul>
        </nav>
        <div id="logoarea">
            <hgroup>
                <a href="index.html" id="logo" img src="../img/logo.png" alt="logo Ponto Digital">
            </hgroup>
        </div>


        @RenderBody();
        <div id="trabalhador">
            <div id="retangulo">
                <h2>
                    PIONEIRA NO MERCADO EM CONTROLE DE PONTO ONLINE
                </h2>
                <h3>
                    Com o Ponto Digital, os gestores conseguem ter
                     informações, de forma rápida e segura, e com isso
                     você tem um maior controle de sua empresa.
                </h3>
                <div id="consultenos">
                   <a href="depoimentos"><p>CONSULTE-NOS</p></a>
                </div>
            </div>

        </div>

        <!-- <div id = "textoHome">
            <p>
                Tenha um conforto em saber que seus<br>funcionários
                Home Oficcer estão<br>realmente trabalhando,
                para garantir o<br>melhor projeto para você.

            </p>
        </div>
        <div id="mapa">
            <hgroup>
                <img src="../img/explicacao.png" alt=""> -->
                <!-- <a id="mapaConceitual" img src="img/explicacao.png" alt="
                "> -->
            <!-- </hgroup>
        </div> -->
        
        <h4>
            Tenha um conforto em saber <br> que seus
            funcionários <br> Home Officer, estão <br>
            realmente trabalhando, para <br>
            garantir o melhor projeto para você. <br>
        </h4>
        <div id="explicacao">
            <hgroup>
                <img src="../img/explicacao.png" alt="imagem explicativa">
            </hgroup>
        </div>
        

    
        <section id="quemsomos">

            <h2>QUEM SOMOS ?</h2>
            
            <p>O Ponto Digital faz parte da empresa Agora Vai, <br> que foi
                criada no ano de 1999. Seus <br> presidentes são Carlos
                Eduardo Tsukamoto <br> e César Sportore, o produto veio ao
                mercado <br> para revolucionar a forma de como as <br> empresas
                que possuem funcionários que <br> trabalham de Home Officer,
                irão gerencia-los. </p>
                
                <div id="fundadores">
                    <div id="carlosimg">
                        <img src="../img/carlos.png" alt="presidente carlos tsukamoto">
                        <p>Carlos Eduardo Tsukamoto</p>
                    </div>
                    <div id="cesarimg">
                        <img src="../img/cesar.png" alt="presidente cesar sportore">
                        <p>Cesar Sportore</p>
                    </div>
                </div>
              
        </section>

        <h2>PLANOS</h2>

        <section id="planos">


            <div id="divplanos">

                <div id="micro" class="servicos">
                    <h3>MICRO 
                        EMPRESA</h3>
                    <br>
                    <br>
                    <p>Para empresas de até 5 funcionários</p>
                    <br>
                    <br>
                    <br>
                    <p id="cifrao">R$</p>
                    <br>
                    <p id="preco">29,99</p>

                    

                </div>

                <div id="media" class="servicos">
                    <h3>MEDIA 
                        EMPRESA</h3>
                    <br> 
                    <br>
                    <p>Para empresas de até 50 funcionários</p>
                    <br>
                    <br>
                    <br>
                    <p id="cifrao">R$</p>
                    <br>
                    <p id="preco">149,90</p>


                </div>
                
                <div id="grande" class="servicos">
                    <h3>GRANDE 
                        EMPRESA</h3>
                    <br>
                    <br>
                    <p>Para empresas de até 300 funcionários</p>
                    <br>
                    <br>
                    <br>
                    <p id="cifrao">R$</p>
                    <br>
                    <p id="preco">299,90</p>


                </div>
                
                <div id="personalizada" class="servicos">
                    <h3>PLANO PERSONALIZADO</h3>
                    <br>
                    <br>
                    <p>Para empresas que possuem mais de 300 funcionários</p>
                    <br>
                    <br>
                    <p id="cifrao">R$</p>
                    <br>
                    <p id="preco">X</p>


                </div>

            </div><!-- FIM DA DIVPLANOS -->


        </section>
           

        <section id="teste">

            <h5>OU</h5>

            <div id="testegratis">
               <h6>FAÇA JÁ UM TESTE GRÁTIS</h6>
            </div>
        </section>
    
        


        <section id="depoimentos">
            
            <h2>DEPOIMENTOS</h2>

            <div id="opinioes" class="">
    
            </div>


        </section>
    
    
    
    </header>
</body>

</html>
            
        