<head>
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
</head>

<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>


<main id="main-sucesso">
    <div id="h2-sucesso">
        <h2>Você foi cadastrado com SUCESSO</h2>
    </div>
</main>