*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family:'Arial', sans-serif, helvetica, sans-serif;
}

#trabalhador{
  background-image: url(../img/homeofficer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  width: 100%;
  height: calc( 101vh - 255px );
  display: flex;
  margin-top: 1em;
}
#texto_banner{
  background-color: (red, rgba(0, 0, 0, 0.1), blue, alpha);
  margin-top: 10em;
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: none;
  margin-top: 70px;
  margin-left: 288px;
  margin-right: 0;
  font-size: 1.45em;
  font-weight: bold;
  color: #00347f;
}
#logoarea img{
  margin-left:120px;
  margin-right: 0;
  display: block;
  width: 15%;
  height: 100%;
  margin-top: -55px;
  background-size: cover;
  max-width: 15%; 
}
div > ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: none;
  background-color: #0b346e;
  padding: 5px;

}
#logar {
  border-radius: 30px;
  align-self: none;
  margin-left: 490px;
  font-size: 1.19em;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
a{
  text-decoration: none;

}
#orasbolas > a {
  color: #ffffff;
}
.speakforme{
  color: white;  
}
nav a {
  color: #082c5d;
  padding: 9px 5px;
}
nav .hover:hover{
  border-radius: 30px;
  color: #ffffff;
  background-color: #f2a620;
}
#contatos a:hover {
  color:white;
  background-color: #f2a620;
}
#contatos a {
  padding: 4.2px 2.5px;
}
#retangulo{
  padding: 1em;
  display: flex;
  flex-direction: column; 
  width: 41em;
  height: 25em;
  margin-top: 8em;
  margin-left: 6em;
  background-color: rgb(173, 173, 173, 0.70);
}
#retangulo h2{
  font-size: 2em;
  color: #082c5d;
  text-align: center;
  margin-top: 1.5em;
}
#retangulo h3 {
  color: #082c5d;
  font-size: 1.7em;
  margin-top: 1.2em;
}
#consultenos p:hover{
  color: #082c5d;
  background-color: #f2a620; 
}
#consultenos p {
  border-radius: 30px;
  background-color: #00347f;
  color: #ffffff;
  padding: 1.0em 2em;
  width: 31%;
  display: inline-block;
  margin-top: 1.9em;
}
/* #textoHome{
  padding: 2%;
  font-size: 3em;
} */
h4{
  font-style: normal;
  font-size: 3.0em;
  color: #00347f;
  margin-left: 3em;
  margin-top: 3em;
}
#explicacao img{
  margin-left: 71em;
  margin-top: -25em;
}
#quemsomos h2{
  font-size: 2.5em;
  color: #f2a620;
  text-align: center;
  padding-top: 25px;
}
#quemsomos > p{
  font-size:2.5em;
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
}
#quemsomos{
  background-color: #082c5d;
  margin-top: 4em;
}
#fundadores{
  display: flex;
  justify-content: space-evenly;
  margin-top: 4em;
}
#carlosimg{
  display: flex;
  flex-direction: column;
}
#cesarimg{
  display: flex;
  flex-direction: column;
}
#carlosimg > img{
  width: 20em;
  height: 30em;
}
#cesarimg > img{
  width: 20em;
  height: 30em;
}
#carlosimg > p{
  font-size:2em;
  color:#f2a620;
}
#cesarimg > p{
  font-size: 2em;
  color: #f2a620;
}
h2{
  margin-top: 20px;
  text-align: center;
  font-size: 3em;
  color: #f2a620;
}
#planos{
  background-color: #ffffff;
  justify-content: center;
}
#divplanos{
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  white-space: pre-line;
}
h3{
  color: #ffffff;
  font-weight: bolder;
  font-size: 2em;
}
.servicos{
  background-color: #082c5d;
  width: 300px;
  height: 600px;
}
.servicos > p {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}
#cifrao{
  font-size: 3em;
  display: table;
  color: #ffffff;
}
#preco{
  font-size:6em;
  color: #f2a620;
}
#teste{
  display: flex;
  justify-content: space-around;
  margin-top: 4.5em;
  background-color: #ffffff;
}
h5{
  font-size: 15em;
  color: #f2a620;
}
#testegratis{
  background-color: #082c5e;
  width: 525px;
  height: 290px;
}
h6{
  color: #f2a620;
  text-align: center;
  font-size: 4.5em;
  margin-top: 75px;
}
#depoimentos{
  margin-top: 10.5em;
}
#opinioes{
  background-color: #082c5e;
  width: 250px;
  height: 100px;
}