#login{
    padding-top: 7vh;
    margin-bottom: 10em;

}
#div-pai{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    color: #f2a620;
}
#div-login{
    display: flex;
    flex-direction: column;
    width: 31em;
    font-size: 2em;
}
.imput-form{
    height: 2em;
}
#div-login > form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20em;
}
  #aviso-cadastro{
    font-size: 32px;
    text-align: center;
}
.imput-form {
    height: 2em;
    width: 50em;
}
